/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */


body {
    font: 16px/28px arial, sans-serif;
    background-color: rgb(176, 180, 176);
    background-image: url(fabric_1.png);
    color: rgb(60, 197, 6);

}
.container {
    width: 800px;
    margin: auto;
    background-color: rgb(214, 214, 214);
    border: 5px solid rgb(252, 0, 0);
    box-sizing: border-box;
    background-image: url(denim.png);
}
.header {
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a {
    text-decoration: none;
    color: coral;
    padding: 3px;
}
.header a:hover {
    background-color: rgb(89, 124, 146);
    color: black;
}
.hero {
    height: 300px;
    background-image: url(img.jpg);
    background-size: cover;
    background-position: 0 -80px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid maroon;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 28px;
    font-weight: bold;
}
.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a {
    color: coral;
    text-decoration: none;
}
.content p {
    font-size: 14px;
    margin-bottom: 20px;
}
.footer {
    padding: 15px;
    background-color:  rgb(8, 8, 8);
}
.footer .copy {
    color: bisque;
    text-align: center;
    font-size: 12px;
}