div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu {
    background-color: burlywood;
    padding: 10px;
    border: 15px solid red;
}
.dua {
    background-color: chartreuse;
    padding: 30px;
    border: 10px dashed lightskyblue;
}